<li>
  <%# debugger %>
  <%= User.find(post.user_id).name.humanize %>
  <br>
  <%= post.content %>
  <br>
  <% post.pictures.each do |pic| %>
    <img src = "<%= pic.url.to_s %>", alt = "post's images", style="width: 100px;height: 100px">
  <% end %>
  <br>
  <% if Like.where(post_id: post.id, user_id: current_user.id).count > 0 %>
    <%= link_to "Liked this post", '#' %>
  <% else %>
    <%= link_to "Like this post", post_likes_path(post_id: post.id), method: :post %>
  <% end %>
  <%= link_to "#{post.nLikes} likes", post_likes_path(post_id: post.id) %>

  <br>
  <%= link_to "Comment", new_post_comment_path(post_id: post.id) %>
  <%= link_to "#{post.nComments} Comments", post_comments_path(post_id: post.id) %>

  <br>
  posted <%= time_ago_in_words(post.created_at) %> ago.
  <br> <br>
</li>
<!--post_likes_url(post_id: post.id)-->